#headerId {
    background-color: lemonchiffon;
    width: 40%;
    padding: 12px;
    text-align: center;
    margin: auto;
    border: 1px solid;
}

.huge{
    color: red;
    font-size: 10rem;
    font-weight: bold;
}
